/*Start Body*/
body {
    background-image: url('D:/amalia_ridhani-css/images/music.jpg');
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    margin: 50;
    padding: 10;
}
/*End Body*/

/*Start Debug*/
.bg-silver{
    background-color: white;
}
.bg-black{
    background-color:white;
}
/*End Debug

/*Start Container*/
.container{
    margin: 10px auto;
    overflow : auto;
    width:90%;
}
.container{
    margin: 10px auto;
    overflow : auto;
    width: 90%;
}
/*End Container*/

/*Start Logo*/
.logo {
    text-align: center;
}
/*End Logo*/

/* Start Anchor/ Hyperlink*/
a:link,
a:visited{ 
    color: navy;
    text-decoration: none;
}
a:hover,
a:active{
    color: #000000;
    text-decoration: underline;
}
/* End Anchor/ Hyperlink*/


/*Start Menu Primer*/
.menu-primer ul{
    background-color: rgba(177, 172, 172, 0.324);
    border-radius: 10px;
}
.menu-primer li{
    border-right: black;
    display: inline-block;
}
.menu-primer a{
    color:black;
    font-size: 15px;
    display: block;
    letter-spacing:1px;
    padding: 20px 100px;
    text-transform: uppercase;
}
.menu-primer a:hover {
    background-color: #f7f7f7;
    color: black;
}
/*End Menu Primer*/

/*Start Heading*/
h1, h2, h3, h4, h5, h6{
    font-weight: 400;
    letter-spacing: 1px;
}
h2{
    font-size: 24px;
}
h3{
    font-size: 18px;
}
h4{
    font-size: 16px;
}
h5{
    font-size: 14px;
}
h6{
    font-size: 13px;
}
/*End Heading*/

/*Start Jumbotron*/
.jumbotron {
    background-color:rgba(177, 172, 172, 0.324);
    border: 1px solid rgba(177, 172, 172, 0.324);
    border-radius: 4px;
    padding: 20px 0;
}
.jumbotron h1{
    font-size: 32px;
    padding: 0 20px;
}
.jumbotron h3{
    font-size: 20px;
    padding: 0 20px;
}
/*End Jumbotron*/

/*Start Main*/
.main-home-one{
    float: left;
    width: 49.5%;
}
.main-home-two{
    float: right;
    width: 49.5%;
}
/*End Main*/

/*Start Box*/
.box-heading{
    background-color:rgba(177, 172, 172, 0.324);
    border: 1px solid rgba(177, 172, 172, 0.324);
    border-radius: 3px 3px 0 0;
    margin: 0;
    padding: 10 20px;
    text-transform: uppercase;
}
.box-heading h4{
    font-size: 14px;
    margin: 0;
}
.box-isi{
    background-color:rgba(177, 172, 172, 0.324);
    border: 1px solid rgba(177, 172, 172, 0.324);
    border-top: 0;
    margin: 0;
    padding: 10px 20px;
}
/*End Box*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:600;);
.snip1573 {
  background-color: #000;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 20px;
  max-width: 315px;
  min-width: 230px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 70%;
}

.snip1573 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.snip1573:before,
.snip1573:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  background-color: #000000;
  border-left: 3px solid #fff;
  border-right: 3px solid #fff;
  content: '';
  opacity: 0.9;
  z-index: 1;
}

.snip1573:before {
  -webkit-transform: skew(45deg) translateX(-155%);
  transform: skew(45deg) translateX(-155%);
}

.snip1573:after {
  -webkit-transform: skew(45deg) translateX(155%);
  transform: skew(45deg) translateX(155%);
}

.snip1573 img {
  backface-visibility: hidden;
  max-width: 100%;
  vertical-align: top;
}

.snip1573 figcaption {
  top: 50%;
  left: 50%;
  position: absolute;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%) scale(0.5);
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
  -webkit-box-shadow: 0 0 10px #000000;
  box-shadow: 0 0 10px #000000;
}

.snip1573 h3 {
  background-color: #000000;
  border: 2px solid #fff;
  color: #fff;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0;
  padding: 5px 10px;
  text-transform: uppercase;
}

.snip1573 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.snip1573:hover > img,
.snip1573.hover > img {
  opacity: 0.5;
}

.snip1573:hover:before,
.snip1573.hover:before {
  -webkit-transform: skew(45deg) translateX(-55%);
  transform: skew(45deg) translateX(-55%);
}

.snip1573:hover:after,
.snip1573.hover:after {
  -webkit-transform: skew(45deg) translateX(55%);
  transform: skew(45deg) translateX(55%);
}

.snip1573:hover figcaption,
.snip1573.hover figcaption {
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}